<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <header>
      <navigation-bar brandName="<%= brandName %>"></navigation-bar>
    </header>

    <main>
      <jumbo-tron></jumbo-tron>
      <div class="container">
        <story-list></story-list>
      </div>
    </main>

    <modal-alert></modal-alert>
    <footer>
      <footer-content></footer-content>
    </footer>
  </body>
</html>
